
      #map {
        height: 100%;
        width: 75%;
      }
      @media(max-width: 750px)
      {
        #map{
          height: 50vh;
          width: 100%;
        }
      }
     .map-row{
     	height: 100vh;
      z-index:50;
     }
     @media (max-width: 750px){
      .map-row{
        height: 130%;
      }
     }
     .connect{
      background-color: #192f46;
      height: 100%;
      border-radius: 1%;
     }
     .connect .row{
        margin-left: 4%;
        margin-right: 4%;
     }
     .link-icons{
/*      font-size: 100%;
*/      opacity: 0.3;
      color: white !important;
     }
     .input-field label{
      color: white;
      font-family: 'Lato' , sans-serif;
  font-weight: 100;
     }
    .input-field input[type=text]:focus + label {
     color: #039be5;
     }
    .input-field input[type=text]:focus {
     border-bottom: 1px solid #039be5;
     box-shadow: 0 1px 0 0 #039be5;
    }
    .input-field input[type=email]:focus + label {
     color: #039be5;
     }
    .input-field input[type=email]:focus {
     border-bottom: 1px solid #039be5;
     box-shadow: 0 1px 0 0 #039be5;
    }
    .input-field input[type=textarea1]:focus + label {
     color: #039be5;
     }
    .input-field input[type=text]:focus {
     border-bottom: 1px solid #039be5;
     box-shadow: 0 1px 0 0 #039be5;
    }
    .contact-us-heading{
        margin-left: 4%;
        margin-top: 7.5%;
    }
    .btn{
        background-color: #039be5;
     }

     .page-footer
     {
       color:white;
       position:relative;
       background:rgb(25,47,70);
       bottom:0;
     }
    .contact-us-heading{
      margin-bottom: 5%;
    }
    .contact-form input{
      margin-bottom: 1%;
      margin-top: 1%;
    }

    textarea.materialize-textarea:focus:not([readonly]){
      border-bottom: 1px solid #039be5 !important;
      box-shadow: 0 1px 0 0 #039be5 !important;
    }