.projects-container
{
  margin-top: -1px;
  background: #192f46;
  height: 100vh;
}

@media(max-width:600px)
{
  .projects-container
  {
    height: 141%;
  }
}

.project
{
  padding-top: 2%;
}
#philosophy-row
{
  margin: 0 !important;
}
#project-row .landing-logo-holder, .project-clicked .landing-logo-holder
{
  position: absolute;
  background: white;
  padding: 1%;
  padding-top: 1.2%;
  padding-bottom: 0.7%;
  border-radius: 50%;
  width: 5%;
  margin-left: 0%;
  margin-top: 0%;
  margin-top:20px;
  right: 20px;
  z-index: 10;

}
#project-row .landing-logo, .project-clicked .landing-logo
{
  width:100%;
}

.project
{
  padding-top: 0%;
  margin-top: 30px;
  padding-bottom: 4%;
}

.project-heading p
{

  margin: 0;
  color: white;
  font-size:170%;
  border-left: 1px solid #ee8822;
  border-right: 1px solid #ee8822;
  text-align: center;
}

.project-grid
{
  position: absolute;
}
.project-grid .col
{
  margin: 0;
  padding: 0;
}
.project-grid .row
{
  margin: 0;
  padding: 0;
}
.project-grid-img
{
  height: 41vh;
  width: 100%;
  margin-bottom: -5.2px;
  opacity: 0.88;
}
.project-grid-img-holder
{
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
}
.project-img-text
{
  top:40%;
  left:35%;
  display: none;
  position: absolute;
  color: white;
  font-size: 180%;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}
.project-grid-img-holder:hover .project-grid-img
{
    transition: all 0.2s;
    opacity: 0.12;
}
.project-grid-img-holder:hover .project-img-text
{
  display: block;
}

@media(min-width:1900px)
{
  .project-heading p
  {
    font-size: 130%;
  }
}
.project-clicked
{
  position: relative;
}
.selected-project-back
{
  position: absolute;
  background: white;
  padding:0.8%;
  padding-top:0.8%;
  padding-bottom: 0.2%;
  border-radius: 100%;
  margin-top: 20px;
  right: 110px;
  z-index: 10;
  width: 4.5%;
  cursor: pointer;
}
.project-skill-name
{
  display: none;
}
.select-project-image-holder img
{
  width: 100%;
  height: 100vh;
}
.project-skill-holder
{
	box-shadow: 5px 0 5px -5px rgb(20,20,20);
  opacity: 1;
  height: 100vh;
  width: 90%;
  z-index: 10 !important;
  transition: 0.2s all;
}
.project-skill-img
{
width:50px;
margin-left: 8px;
margin-top:6vh;
opacity: 0.4;
transition: 0.2s all;
}


/*.project-skill-holder:hover
{
  width: 300%;
  transition: 0.2s all;
}*/

.project-skill-img:hover
{
  opacity: 0.9;
  transition: 0.2s all;
}
.project-skill-img:hover .project-skill-name
{
  display: block;
}
.clicked-project-heading
{
  font-size: 300%;
  color: white;
  opacity:0.87;
  font-weight: bold;
  margin-bottom: 10px !important;
}
.project-lead
{
  font-size: 130%;
  color: white;
  opacity:0.87;
  margin-top: 15px;
}
.project-desc
{
  font-size: 130%;
  opacity:0.87;
  color: white;
}
.project-resources-holder .resources
{
  color: white;
  font-size: 130%;
}
.resources .resources-button
{
 color: #192f46;
 font-weight: bold;
 outline: none;
 background: white;
 border: none;
 border-radius: 8px;
 padding: 5px;
 padding-left: 20px;
 padding-right: 20px;
 margin-left: 20px;
}
.project-clicked-data
{
  margin-top: 15vh;
  z-index: 1 !important;
}
.project-clicked-data p
{
  z-index: 1 !important;
}
@media(max-width:600px)
{
  .project-skill-holder
  {
    width:93vw;
    height:70px;
    white-space: nowrap;
    box-shadow: 0 4px 2px -3px rgb(20,20,20);
    overflow-y:hidden;
    overflow-x:auto;
  }
  .project-skill-img
  {
    margin-top:5px;
    margin-left:30px;
    width:35px;
  }
  .select-project-image-holder img
  {
    height: 300px;
  }
  .clicked-project-heading
  {
    margin-top: -70px !important;
  }
  .project-clicked
  {
    font-size: 75% !important;
  }
  .resources
  {
    margin-top: -40px !important;
  }
  .selected-project-back
  {
    padding:0.8%;
    padding-top:0.8%;
    padding-bottom: 0.2%;
    margin-top: 5px;
    right: 10px;
    width:10%;
  }
}
@media(min-width:1920px)
{
  .clicked-project-heading
  {
    font-size: 350%;
  }
  .project-lead
  {
    font-size: 170%;
  }
  .project-desc
  {
    font-size: 170%;
  }
  .project-resources-holder .resources
  {
    font-size: 170%;
  }
  .project-skill-img
  {
    width: 70px;
  }
  .selected-project-back
  {
    right: 130px;
  }
  .project-heading p
  {
    font-size: 300%;
  }
}
