@media only screen and (max-width: 320px) {

 .team { font-size: 60%%; }


}
.team{
  height: 100vh;
  padding-top: 30px;
}
.team .row{
  margin-bottom: 10px;
  width: 100% !important;
}
.team .tl{

   overflow:none;
   font-size: 220%;
    margin-right: 80%;
  margin-left: 1%;
   border-left: 3px solid #ee8822;
  border-right: 3px solid #ee8822;
}
@media(max-width: 700px){
  .team .tl{
    margin-right: 15%;
    margin-left: 15%;

  }
}
.team h3{
 text-align:center;
 color:black;
 font-size:150%;
}
.team h5{
text-align:center;
color:gray;
margin-top:1px;
font-size: 100%;

}
.team .s{
text-align:center;
}
.team a{
margin-right:10px;
}
.team .gdg{
position: absolute;
  top: 10px;
  right: 5px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.img-circle
{
  border-radius:50%;
}
.img-responsive
{
  display:block;
  max-width:100%;
  height:auto;
  width: 100%;
  border-radius: 1%;
}
.full-size{
  width: 100% !important;
}

.team .landing-logo-holder
{
  position: absolute;
  background: white;
  padding: 1%;
  padding-top: 1.2%;
  padding-bottom: 0.7%;
  border-radius: 50%;
  width: 5%;
  margin-left: 0%;
  margin-top: 0%;
  margin-top:20px;
  right: 20px;
  z-index: 10;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);

}
.team .landing-logo
{
  width:100%;
}

@media(min-width: 1000px){
.board-name{
  margin-top: 4%;
}
}